.App {
  width: 350px;
  margin: 20px auto;
}

input[type="text"] {
  margin: 0 5px 10px 0;
  padding: 5px;
}

button {
  padding: 5px;
  margin-right: 5px;
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  margin: 5px auto;
}

.itemTitle {
  float: left;
  min-width: 100px;
}
