.App {
  width: 250px;
  margin: 20px auto;
}

input[type="text"] {
  margin: 0 5px 10px 0;
  padding: 5px;
}

.itemTitle input[type="text"] {
  padding: 5px;
  margin: 0 5px 0 0;
}
button {
  padding: 5px;
  min-width: 55px;
  margin-right: 5px;
  cursor: pointer;
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  margin: 5px auto;
}

.itemTitle {
  float: left;
  min-width: 105px;
  margin-bottom: 5px;
}

.editInput {
  width: 86px;
  margin-right: 5px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border-radius: 0.25rem;
}
.editButton {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.cancelbutton {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.github {
  position: absolute;
  text-align: center;
  bottom: 5px;
}
